<!-- /*
* File: about.component.html
* Author: Boros Zoltán
* Copyright: 2022, Boros Zoltán
* Group: Szoft II N
* Date: 2022-12-28
* Github: https://github.com/BorosFather
* Licenc: GNU GPL
*/ -->
<h1 class="kesz">Készítő</h1>

<ul class="list-group">
    <li class="list-group-item list-group-item-dark">Program: {{name}}</li>
    <li class="list-group-item list-group-item-dark">Verzió: {{version}}</li>
    <li class="list-group-item list-group-item-dark">Szerző: {{owner}}</li>
    <li class="list-group-item list-group-item-dark">Csoport: {{group}}</li>
    <li class="list-group-item list-group-item-dark">Dátum: {{date}}</li>
</ul>